---
// title: "Generated";

import Wrapper from "../../components/utils/Wrapper.astro";
import BaseLayout from "../../layout/BaseLayout.astro";
---

<BaseLayout>
  <Wrapper>
    <h1 class="flex items-center justify-center h-screen">this is generated</h1>
  </Wrapper>
</BaseLayout>
